/*---------------My variables*---------------*/
/*---------------My variables*---------------*/
/*---------------My Inheritances-------------*/
.facilitiestext, .tekstboks, #mapbody img, .ref-section, #repair-bigpicture h1, #repair-box {
  display: flex;
  align-items: center;
  justify-content: center; }

.burgerbar {
  -webkit-box-shadow: -6px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -6px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: -6px 3px 6px 0 rgba(0, 0, 0, 0.16); }

/*---------------My Inheritances-------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #FAFAFA;
  overflow-x: hidden;
  max-width: 1920px;
  margin: auto; }

header {
  z-index: 20; }

.logo {
  margin-top: 30px;
  height: auto;
  width: 400px;
  align-items: flex-end; }

.navbox {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 60px;
  background-color: #FAFAFA;
  font-size: 20px;
  font-weight: bold;
  z-index: 10000;
  position: fixed;
  border-bottom: 1.5vh solid transparent;
  border-image-source: url("../images/logo-border.svg");
  border-image-slice: 100;
  border-image-repeat: repeat; }

.navbox a {
  text-decoration: none; }

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  align-items: center; }

.menubox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 40%;
  max-width: 300px; }
  .menubox p {
    color: #000000; }

#contact-btn {
  color: #FAFAFA;
  padding: 5px 9px;
  border-radius: 100px;
  background-color: #CE3233; }

#contact-btn:hover {
  background-color: #e90000; }

.burgerbar {
  position: fixed;
  top: 0;
  right: -250px;
  background: #fafafa;
  width: 230px;
  height: 100%;
  transition: 0.4s;
  z-index: 10000; }

.active {
  right: 0; }

ul {
  margin: 0;
  padding: 20px 0; }

ul li {
  list-style: none; }

ul li a {
  padding: 10px 20px;
  color: #000000;
  font-weight: bold;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.burger-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  z-index: 10001; }

.burger-btn span {
  display: block;
  width: 35px;
  height: 3px;
  background: #252525;
  position: absolute;
  transition: 0.4s;
  border-radius: 3px; }

.burger-btn span:nth-child(1) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.burger-btn span:nth-child(2) {
  top: 20px; }

.burger-btn span:nth-child(3) {
  top: 20px; }

.burger-btn span:nth-child(4) {
  top: 30px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center; }

.burger-btn.open span:nth-child(1) {
  opacity: 0; }

.burger-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.burger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.burger-btn.open span:nth-child(4) {
  opacity: 0; }

.facilitiesheader {
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 60px; }
  .facilitiesheader img {
    width: 100%;
    height: 400px;
    background-size: contain; }

.mainpic {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out; }

.headercontainer {
  position: relative;
  z-index: -1; }

.textblock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.facilitiesh1 h1 {
  font-size: 50px; }

.transition {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

.facilitiestext {
  position: relative;
  margin: 100px 0;
  width: 100%;
  flex-direction: column; }

.tekstboks {
  background-color: #E9F6FF;
  width: 70%;
  padding: 50px 0; }

.facilities-tekst {
  width: 60%;
  font-size: 20px;
  line-height: 1.5em; }

.textbox-margin2 {
  position: relative;
  z-index: -10;
  width: 70%;
  height: auto; }

.textbox-margin6 {
  position: relative;
  z-index: -10;
  width: 70%;
  height: auto; }

#mapbody {
  margin-bottom: 100px; }
  #mapbody img {
    position: relative;
    z-index: 9; }

#map {
  position: relative;
  height: 650px;
  width: 80%;
  left: 10%;
  right: 10%; }

#marker,
#marker10,
#marker11,
#marker12,
#marker2,
#marker3,
#marker4,
#marker5,
#marker6,
#marker7,
#marker8,
#marker9 {
  background-image: url("../images/logo-small.svg");
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer; }

#marker13,
#marker14,
#marker15,
#marker16,
#marker17 {
  background-image: url("../images/logo-hvid.svg");
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer; }

#marker18 {
  background-image: url("../images/hjerte.svg");
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer; }

.mapboxgl-popup {
  max-width: 200px; }

.mapwrap {
  position: relative;
  margin: 200px 0; }

.ref-section {
  flex-direction: column; }

.ref-btn {
  padding: 8px 100px;
  background-color: #CE3233;
  cursor: pointer;
  border-radius: 100px;
  color: white; }

.ref-btn:hover {
  background-color: #e90000;
  cursor: pointer; }

.referencelist {
  margin-top: 30px;
  display: none;
  flex-direction: row; }

.forside {
  height: 500px; }

#frontpage-hero-img {
  margin-top: 60px;
  width: 100%;
  height: auto; }

.most-wanted-btns {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 5%;
  justify-content: center;
  align-self: center;
  margin: 70px 0; }
  .most-wanted-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FAFAFA;
    width: 100%;
    height: 300px; }
    .most-wanted-btns a h1 {
      font-size: 32px; }

.most-wanted-btns a:nth-child(1) {
  background-image: url("../images/repair-btn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  width: 100%; }

.most-wanted-btns a:nth-child(2) {
  background-image: url("../images/conversion-btn.jpg");
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover;
  width: 100%; }

.most-wanted-btns a:nth-child(3) {
  background-image: url("../images/newbuilding-btn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  height: 300px; }

#intro-video {
  grid-area: intro-video;
  width: 100%;
  margin-bottom: 5vh;
  height: 400px; }

#about-text {
  grid-area: about-text;
  display: flex;
  justify-self: center;
  align-items: center;
  margin-bottom: 40px;
  line-height: 1.5em; }

.textbox-margin {
  position: relative;
  z-index: 10; }

.frontpage-about {
  background-color: #E9F6FF;
  margin-top: -10px; }
  .frontpage-about h2 {
    padding: 10px 0;
    text-align: center; }

.about-grid {
  display: grid;
  margin: 0 7.5%;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
  grid-template-areas: 'about-text intro-video'; }

.frontpage-help {
  display: grid;
  margin: 40px 7.5%;
  grid-template-columns: 40% 40%;
  grid-gap: 5%;
  grid-template-areas: 'help-img help-text';
  margin: 100px 0;
  justify-content: center; }

#help-img {
  grid-area: help-img;
  width: 80%;
  justify-self: center; }

#help-text {
  text-align: center;
  grid-area: help-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #help-text h1 {
    font-size: 30px; }
  #help-text p {
    width: 70%; }
  #help-text img {
    justify-content: center;
    justify-items: center;
    justify-self: center; }

.call-btn {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 26px;
  background-color: #CE3233;
  border-radius: 100px;
  padding: 5px 20px; }
  .call-btn img {
    height: 22px; }

.call-btn:hover {
  background-color: #e90000; }

.google-maps {
  margin-top: 80px; }

.contactboxwrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-right: 38px;
  margin-left: 38px;
  margin-top: 3px; }

.listen {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.billederkontakt img {
  height: auto;
  width: 170px; }

.billederkontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; }

.textbox-margin {
  position: relative;
  z-index: 10;
  width: 300px;
  margin-top: 20px; }

.textbox-margin3 {
  position: relative;
  z-index: 10;
  width: 301px; }

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E9F6FF;
  width: 300px; }

a {
  text-decoration: none;
  color: black; }

.iconandmail {
  display: flex;
  flex-direction: row; }

.rakke2kontakt {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.rakke1kontakt {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.rakke3kontakt {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.rakke4kontakt {
  display: flex;
  flex-direction: row;
  justify-content: center; }

li img {
  height: auto;
  width: 25px; }

.box {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.textbox-margin3 {
  position: relative;
  z-index: 10;
  width: 300px; }

.iconerlist {
  display: flex;
  flex-direction: column; }

.boxmail {
  margin-top: 12px; }

.icontlf {
  margin-top: 12px; }

.iconmail {
  margin-top: 2px; }

#iconmail {
  margin-top: 12px; }

.mailtel {
  display: flex;
  flex-direction: column; }

.boxmail {
  display: flex;
  flex-direction: column; }

ul {
  list-style: none; }

.wherearewe {
  text-align: center; }

.gallerycontainer {
  width: 540px;
  margin: 2% auto;
  overflow: auto;
  margin-right: 30px; }

.slider-inder {
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
  float: left; }

.slider-inder img {
  display: none;
  width: 400px;
  height: 250px; }

.slider-inder img.active {
  display: inline-block; }

.prev, .next {
  float: left;
  margin-top: 105px;
  cursor: pointer; }

.prev {
  position: relative;
  margin-right: 2px;
  z-index: 100;
  height: 50px;
  width: auto; }

.next {
  position: relative;
  margin-left: -5px;
  z-index: 100;
  height: 50px;
  width: auto; }

.container-felx {
  text-align: center;
  display: flex;
  flex-direction: row-reverse; }

.galleryflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.tekstmedbillede {
  display: flex;
  flex-direction: row;
  text-align: center; }

.tekstboxcontact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  margin-top: 75px; }
  .tekstboxcontact h2 {
    margin-bottom: 25px; }
  .tekstboxcontact p {
    max-width: 500px; }

.protrat {
  background-color: #E9F6FF;
  margin-top: -30px;
  margin-bottom: -50px; }
  .protrat h2 {
    text-align: center; }

.kontaktpolysninger {
  margin-top: 60px; }

.tekst {
  justify-content: center;
  margin-left: 75px;
  padding-right: 50px;
  margin-top: 30px; }

#overskriftkontakt {
  width: 100%;
  text-align: center;
  margin-right: 40px; }

#staff {
  margin-top: 20px;
  text-align: center;
  padding-top: 20px; }

.billedemap img {
  height: 400px;
  width: auto;
  margin-top: 10px; }

.listen {
  list-style: none;
  padding-top: 30px;
  width: 200px; }

.listen3 {
  top: 22px; }

.mobilmap {
  display: none; }

.passion {
  background-color: #EFEEEE;
  color: #163f70;
  width: 80%;
  height: auto;
  min-height: 450px; }
  .passion h2 {
    padding: 50px 70px 30px; }
  .passion p {
    padding: 0 70px;
    max-width: 600px;
    font-weight: normal; }

.passionsection {
  display: flex;
  flex-direction: row; }

.followus {
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 0 50px; }
  .followus h3 {
    padding-bottom: 30px;
    color: black; }

.convo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 450px; }

.blue {
  background-color: #163f70;
  width: 50%;
  color: white; }
  .blue h2 {
    padding: 50px 50px 30px; }
  .blue p {
    padding: 0 50px;
    font-weight: normal; }

.blueimg img {
  width: 100%;
  height: 450px; }

.stillinger {
  background-color: #EFEEEE;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #163f70; }
  .stillinger h2 {
    padding: 40px 0 50px; }

.stillingerh2 {
  width: 100%;
  display: flex;
  justify-content: center; }

.stillingcontent {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.stillingrow {
  display: flex;
  flex-direction: row;
  padding-bottom: 80px; }

.stillingimg img {
  width: 200px;
  height: auto;
  padding-right: 50px; }

.stillingliste {
  display: flex;
  flex-direction: column;
  width: 60%; }
  .stillingliste a {
    color: #163f70; }
  .stillingliste h3 {
    padding: 15px 0; }
  .stillingliste h4 {
    display: flex;
    margin-top: 15px;
    border-style: solid;
    width: 90px;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    color: #163f70; }

#jobbody {
  background-color: green; }

footer {
  background-color: #163f70;
  padding-bottom: 5vh; }
  footer p {
    text-decoration: none; }

#footer-img {
  width: 100%;
  margin-bottom: -10px;
  margin-top: 10vh; }

.footer-grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 45% 37%;
  grid-gap: 5%;
  grid-template-areas: 'footer-left footer-right' 'footer-left footer-icons';
  justify-content: center;
  color: #FAFAFA; }
  .footer-grid .footer-certificates img {
    width: 32%;
    max-width: 100px;
    height: auto; }

.footer-icons {
  grid-area: footer-icons;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer-icons img {
    margin: 10px 5px 0 0; }

.footer-right {
  text-align: center;
  grid-area: footer-right; }

.footer-left {
  margin-left: 20%;
  grid-area: footer-left; }

.more-btn {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 26px;
  background-color: #CE3233;
  border-radius: 100px;
  padding: 5px 20px;
  max-width: 70px; }

.more-btn:hover {
  background-color: #e90000; }

.service-grid1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'cell1 cell2';
  background-image: url("../images/service-conersion.jpg");
  background-position-x: 25%;
  background-size: cover;
  margin-top: 25px;
  justify-self: center; }

.service-grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'cell1 cell2';
  background-image: url("../images/service-repair.jpg");
  background-position-x: 60%;
  background-size: cover;
  margin-top: 25px;
  justify-self: center; }

.service-grid3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'cell1 cell2';
  background-image: url("../images/service-newbuildings.jpg");
  background-position-x: 40%;
  background-size: cover;
  margin-top: 25px;
  justify-self: center; }

.grid-repair {
  grid-area: cell2; }

.grid-conversion {
  grid-area: cell1; }

.grid-newbuilding {
  grid-area: cell2; }

.black-blend {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10%;
  margin: 8% 5%; }
  .black-blend h2 {
    font-size: 30px;
    color: #FFFFFF; }
  .black-blend p {
    font-size: 22px;
    color: #FFFFFF; }

#service {
  width: 100%;
  max-width: 1920px; }

.big-phone {
  display: none; }

#repair-bigpicture {
  position: relative;
  height: 700px;
  width: 1920px;
  background: url("../images/service-big.jpg");
  background-repeat: no-repeat; }
  #repair-bigpicture h1 {
    position: relative;
    color: white;
    font-size: 80px;
    top: 300px; }

#repair-box {
  position: relative;
  top: 300px;
  background: url("../images/tb.svg");
  height: 600px;
  width: 1920px;
  color: black;
  text-align: center; }

.gallery-text {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold; }

.most-wanted-btns-jobs {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 22% 22% 22%;
  grid-gap: 5%;
  justify-content: center;
  align-self: center;
  margin: 100px 0; }
  .most-wanted-btns-jobs a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FAFAFA;
    width: 100%;
    height: 300px; }
    .most-wanted-btns-jobs a h1 {
      font-size: 32px; }

.most-wanted-btns-jobs a:nth-child(1) {
  background-image: url("../images/repair-btn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  width: 100%; }

.most-wanted-btns-jobs a:nth-child(2) {
  background-image: url("../images/newbuilding-btn.jpg");
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover;
  width: 100%; }

.most-wanted-btns-jobs a:nth-child(3) {
  background-image: url("../images/accountant-btns.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  height: 300px; }

.ref-section p {
  margin: 0px 20px; }

@media only screen and (max-width: 768px) {
  .passionsection {
    height: 920px; }
  .passion {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10% 0 10%; }
    .passion h2 {
      padding: 50px 0 30px 0; }
    .passion p {
      padding: 0; }
  .followus {
    display: none; }
  .convo {
    flex-direction: column-reverse;
    padding-top: 20px; }
  .blue {
    width: 100%;
    height: auto;
    padding-bottom: 30px; }
  .blueimg {
    width: 100%;
    height: auto; }
  .stillinger {
    background-color: #EFEEEE;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #163f70; }
    .stillinger h2 {
      padding: 40px 0 50px; }
  .stillingerh2 {
    width: 100%;
    display: flex;
    justify-content: center; }
  .stillingcontent {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .stillingrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px; }
  .stillingimg img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .stillingliste {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .stillingliste a {
      color: #163f70; }
    .stillingliste h3 {
      padding: 15px 0; }
    .stillingliste h4 {
      display: flex;
      margin-top: 15px;
      border-style: solid;
      width: 90px;
      padding: 5px 5px;
      justify-content: center;
      align-items: center;
      color: #163f70; }
  .referencelist {
    flex-direction: column; }
  .most-wanted-btns {
    margin: 50px 0; }
  .most-wanted-btns {
    height: 150px; }
  .most-wanted-btns a:nth-child(1) {
    height: 150px; }
  .most-wanted-btns a:nth-child(2) {
    height: 150px; }
  .most-wanted-btns a:nth-child(3) {
    height: 150px; }
  .most-wanted-btns a h1 {
    font-size: 13px; }
  .most-wanted-btns-jobs {
    height: 150px; }
  .most-wanted-btns-jobs a:nth-child(1) {
    height: 150px; }
  .most-wanted-btns-jobs a:nth-child(2) {
    height: 150px; }
  .most-wanted-btns-jobs a:nth-child(3) {
    height: 150px; }
  .most-wanted-btns-jobs a h1 {
    font-size: 13px; }
  .menubox {
    display: none; }
  .contactbox {
    display: none; }
  .about-grid {
    grid-template-columns: 100%;
    grid-template-areas: 'intro-video' 'about-text'; }
  .frontpage-help {
    grid-template-columns: 100%;
    grid-template-areas: 'help-text' 'help-img'; }
  .reakke1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .rakke2kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .gallerycontainer {
    width: 340px;
    margin: 2% auto;
    overflow: auto;
    margin-left: -5%; }
  .slider-inder {
    width: 350px;
    height: 175px;
    position: relative;
    overflow: hidden;
    padding: 3px; }
  .slider-inder img {
    display: none;
    width: 380px;
    height: 185px; }
  .prev, .next {
    float: left;
    margin-top: 75px;
    cursor: pointer; }
  .rakke1kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .rakke3kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .rakke4kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .textbox-margin3 {
    width: 300px; }
  .textbox-margin4 {
    width: 300px; }
  .textbox-margin5 {
    width: 300px; }
  .billedemap img {
    display: none; }
  .tekst {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
  .mobilmap {
    display: block; }
  .mobilmap img {
    width: 600px;
    height: auto;
    margin-bottom: 60px;
    margin-top: 50px;
    margin-left: 120px; }
  .tekstboxcontact {
    display: flex;
    flex-direction: column; }
  .mainpic {
    display: none; }
  .big-phone {
    display: block; }
  .popup-gallery {
    margin-left: 30px; }
  .footer-icons {
    margin-left: 20%;
    display: flex;
    align-items: flex-start; }
  .container-felx {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .galleryflex {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .gallerycontainer {
    display: flex;
    justify-content: center; }
  .footer-grid {
    font-size: 12px;
    display: grid;
    grid-template-areas: 'footer-left footer-right' 'footer-icons footer-right'; }
    .footer-grid .footer-certificates img {
      width: 50%; } }

@media only screen and (min-width: 769px) {
  .burger-btn,
  .burgerbar {
    display: none; } }

@media only screen and (max-width: 550px) {
  .logo {
    width: 250px;
    margin-top: 45px; }
  .contactboxwrap {
    display: flex;
    flex-direction: column;
    padding-left: 22%; }
  .menubox {
    display: none; }
  .contactbox {
    display: none; }
  .billedemap img {
    display: none; }
  .tekstbox {
    height: 0;
    width: 100%; }
  .tekst {
    text-align: center;
    margin-right: 50px; }
  .mobilmap {
    display: block; }
  .mobilmap img {
    width: 90%;
    height: auto;
    margin-left: 0px; }
  .tekstboxcontact {
    display: flex;
    flex-direction: column; }
  .tekstboks {
    width: 90%;
    padding: 50px 0; }
  .facilities-tekst {
    width: 80%;
    font-size: 20px; }
  .textbox-margin2 {
    width: 90%; }
  .textbox-margin6 {
    width: 90%; }
  #map {
    height: 80vh;
    width: 100%;
    left: 0;
    right: 0; }
  #service {
    width: 100%;
    max-width: 550px; }
  .service-grid1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'cell2';
    background-image: url("../images/service-conersion-small.jpg");
    background-size: cover;
    margin-top: 25px;
    justify-self: center;
    text-align: center; }
  .gallerycontainer {
    width: 540px;
    margin: 2% auto;
    overflow: auto;
    margin-left: -5%; }
  .slider-inder {
    width: 350px;
    height: 175px;
    position: relative;
    overflow: hidden;
    padding: 3px; }
  .slider-inder img {
    display: none;
    width: 380px;
    height: 185px; }
  .prev, .next {
    float: left;
    margin-top: 75px;
    cursor: pointer; }
  .service-grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'cell2';
    background-image: url("../images/service-repair-small.jpg");
    background-size: cover;
    margin-top: 25px;
    justify-self: center;
    text-align: center; }
  .service-grid3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'cell2';
    background-image: url("../images/service-newbuildings-small.jpg");
    background-size: cover;
    margin-top: 25px;
    justify-self: center;
    text-align: center; }
  .grid-conversion {
    grid-area: cell2; }
  .referencelist p {
    font-size: 12px; } }
